body {
    background-image: url(../images/theLogo.jpeg);
    background-size: 100%; 
    color: white;
}

nav {
    background-color: rgb(235, 44, 44);
}
#brand-logo {
    color: white;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 0 15px;
}

.waves-effect {
    background-color: navy;
}

h3 {
    margin: 15px;
}

.logos {
    width: 200px;
    height: 200px;
    margin: 10px 0 0 0;
}

.card {
    height: 300px;
    width: 200px;
}

#page-footer {
    background-color: rgb(235, 44, 44);
}

.statBtn {
    background-color: rgb(0, 132, 255);
    margin: 10px 0 0 25px;
    height: 40px;
    width: 100px;
    color: white;
}
.buynow{
    background-color: #042244;
    color: white;
    width: 20%; 
    margin-bottom: 5px; 

}

#tmaster {
    float: left;
    margin: 0 0 20px 0;
}

#teamArticles {
    clear: both;
    background-color: black;
}

